



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}




/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}



/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #3fc5f0;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 12px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*---------------------------------------------*/
.container {
	max-width: 14000px;
}
.wrap-menu {
  width: 100%;
  justify-content: left;
  bottom:80%;
   align-items: left;
  background: transparent;
  border-radius: 10px;
  overflow: hidden;
  
}




/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.container-contact100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #3fc5f0;
  background: -webkit-linear-gradient(45deg, #3fc5f0, #6decb9);
  background: -o-linear-gradient(45deg, #3fc5f0, #6decb9);
  background: -moz-linear-gradient(45deg, #3fc5f0, #6decb9);
  background: linear-gradient(45deg, #3fc5f0, #6decb9);
  
}
* {
  box-sizing: border-box;
}

:root {
  
  --primary: #ff1ead;
  --secondary: #1effc3;
  --card-size: 325px;
}
.heading{
  position: absolute;
  color:#ffffff;
  font-size: 40px;
  bottom:70%;
  font-family:Poppins-Bold ;
  text-align: center;
  }

.super{
  font-family: Poppins-Regular;
  display: contents;
  font-family: 'Source Code Pro', monospace;
  position: absolute;
  width: 100%; 
  left:6%;
  
  align-items: center;
}

.svg{
    position: absolute;
    right: 25%;
    left: 28%;
    top:10%;
    bottom:35%;
  
}
.card {
  font-family: Poppins-Regular;
  width: var(--card-size) ;
  height: var(--card-size);
  border-radius: 0.75rem;
  
  background: white;
  display: grid;
  position: relative;
  
  color: black;
  align-items: center;
  will-change: transform;
  padding-left: 20px;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover {
  transform: scale(1.1);
 
}

.card-details {
  font-family: Poppins-Regular;
  top:30%;
  text-align: center;
  position: relative;
  text-align: center;
}

.name {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.occupation {
  font-weight: 600;
  color: #3fc5f0;
}

.card-avatar {
  display: grid;
  place-items: center;
}



.card-about {
  margin-top: 1rem;
  display: grid;
  grid-auto-flow: column;
}

.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  text-align: center;
}

.item .value {
  display: block;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color:#3fc5f0;
}

.item .label {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  grid-auto-flow: column;
  color: black;
}
.nam{
  font-size: 12px;
  text-align: center;
}
.sidebar {
  font-family: Poppins-Regular;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  font-family: Poppins-Regular;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #3fc5f0;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  font-family: Poppins-Regular;
  background-color: #ffffff;
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.openbtn:hover {
  background-color: #f1f1f1;
}

#main {
  transition: margin-left .5s;
  padding: 5px;
  
  
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


